// 设置scss全局变量

// 左侧菜单logo高度设置
$base-slider-logo-height: 50px;
// 左侧菜单logo右侧文字大小设置
$base-slider-logo-title-fontSize: 20px;

// 左侧的菜单的背景颜色
$base-slider-background: #001529;
// 左侧的菜单的宽度
$base-slider-width: 260px;
// 左侧的菜单的最小宽度
$base-slider-min-width: 50px;

// 顶部导航的高度
$base-slider-height: 50px;

